In [3]:
##1:Modify the first item (22) of a list inside a following tuple to222
#----------------------------------------------------------------------------------------------------------
tuple=(11,[22,33],44,55)
print("The first tuple is =",tuple)
tuple[1][0]=222
print("The(first element of list )UPDATED tuple is =",tuple)

The first tuple is = (11, [22, 33], 44, 55)
The(first element of list )UPDATED tuple is = (11, [222, 33], 44, 55)

In [14]:
##2:count the number of occurence of a item(50)in tuple
#-------------------------------------------------------
tuple1=(50,10,60,70,50)
count=0
for i in tuple1:
    if(i==50):
        count=count+1
print("no of 50's in the tuple1",tuple1,"is=",count)

no of 50's in the tuple1 (50, 10, 60, 70, 50) is= 2

In [26]:
#3.Write a Python program to convert a list to a tuple
#----------------------------------------------------
def change(list1):
    return(tuple(list1))    #returning list as tuple
list1=[1,2,3,4,5]
print("list is=",list1)
print("tuple is=",change(list1))

list is= [1, 2, 3, 4, 5]
tuple is= (1, 2, 3, 4, 5)

In [27]:
#4: Returns a new set with all items from both sets by removing duplicates
#-----------------------------------------------------------------------------
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
s3={0}                     #nullset
s3=s2.union(s1)
s3=sorted(s3)
print(s3)

[10, 20, 30, 40, 50, 60, 70]

In [3]:
#Q5: Merge following two Python dictionaries into one
#----------------------------------------------------------------------------
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3={**dict1,**dict2}              #join two dictionaries
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [15]:
#Q6.Given a Python dictionary, Change Bradâ€™s salary to 8500
#**********************************************************************
sampleDict={'emp1':{'name': 'Jhon', 'salary': 7500},'emp2':{'name': 'Emma', 'salary': 8000},'emp3':{'name': 'Brad', 'salary': 6500}}
print("old dictionary is=\n",sampleDict)
sampleDict['emp3']['salary']=8500       #updating 8500 as salary(key) of emp3(key) dictionary of sampleDict dictionary
print("new dictionary is=\n",sampleDict)

old dictionary is=
 {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}}
new dictionary is=
 {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [24]:
#7.Rename key city to location in the following dictionary
#---------------------------------------------------------------
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict["location"]="newyork"
del sampleDict["city"]             #deletig key city from dictionary
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'newyork'}