In [ ]:
#1.PRINT MIDDLE CHARACTERS OF AN ODD LENGTH STRING
str1=input("enter a string of odd length=")
n=int(len(str1)-1)                           #lengthofthe string 
mid=int(n/2)                                 #finding the middle index of the string
str2=str1[mid-1:mid+2]                       #printing characters from mid-1 mid mid+1
print("the middle string of",str1," is=",str2)

enter a string of odd length=hello all
the middle string of hello all  is= lo

In [ ]:
#2.SUM&AVERAGE of N NATURAL NUMBERS
#FOR LOOP 
#--------------
sum=0
avg=0
N=int(input("enter the limit="))
for i in range(1,N+1):
  sum=sum+i  
avg=sum/N
print("sum of ",N,"natural numbers =",sum,"\naverage of",N,"natural numbers=",avg)

# WHILE LOOP
#--------------
SUM=0
AVG=0
n=int(input("enter the limit= "))
N1=n                                               #store the value of n because when the loop is running the value of n becomes changed
while(n>0):
  SUM=SUM+n
  n=n-1
AVG=SUM/N1
print("sum of ",N1,"natural numbers =",SUM,"\naverage of",N1,"natural numbers=",AVG)

enter the limit=5
sum of  5 natural numbers = 15
average of 5 natural numbers= 3.0
enter the limit5
sum of  5 natural numbers = 15
average of 5 natural numbers= 3.0

In [ ]:
#3.ACCEPT A LIST OF 5 FLOAT NUMBERS AS INPUT AND STORE IT IN A LIST AND PRINT THE LIST
i=0
num=0
lsit=[]
print("enter 5 numbers")
for i in range(1,6):
  num=float(input())
  lsit.append(num)                 #append num contents with list
print("the list is =",lsit)

enter 5 numbers
1
2
3
4
5
the list is = [1.0, 2.0, 3.0, 4.0, 5.0]

In [1]:
#4.PRINT THE PATTERN 
# A)
#--------------------
i=1
j=1
while(i<=5):
   while(j<=i):
     print(j,end="\t")
     j=j+1
   print("\n")
   j=1
   i=i+1

1

1	2

1	2	3

1	2	3	4

1	2	3	4	5

In [ ]:
 # B)
   #---------------------
i=5
j=1
k=i
while(i<=5):
  if(i==0):
    break                               #exit from while(1st) loop when i=0 and break statement is called 
  while(j<=i):
       print(j,end="\t ")
       #k=i
       j=j+1
  print("\n")
  i=i-1
  j=1

1	 2	 3	 4	 5

1	 2	 3	 4

1	 2	 3

1	 2

1

In [ ]:
#5.INPUT A NUMBER,PRINT THE TOTAL NUMBER OF DIGITS USING WHILE LOOP.
val=0
num=int(input("enter a number"))
while (num!=0):
  num=int(num/10)                    #when dividing with 10 we get a float number hence we convert it to int type
  val=val+1
print( "count of digits=",val)

enter a number1245
count of digits= 4

In [ ]:
#6.GIVEN TWO LIST CREATE THIRDLIST BY PICKING ODDINDEX ELEMENT FROM FRST LIST AND EVEN INDEX ELEMENT FROM SECONDLIST
listThree=[]
listOne=[3,6,9,12,15,18,21]
listTwo=[4,8,12,16,20,24,28]
li1=listOne[1::2]
li2=listTwo[0::2]
listThree=li1+li2
listThree

[6, 12, 18, 4, 12, 20, 28]

In [ ]:
#7.PROGRAM TO GET THE SMALLEST NUMBER FROM A LIST 
lit=[]
n=int(input("the number of elements in the list="))
for i in range(1,n+1):
  val=int(input())                                      #this will store the elements that we input 
  lit.append(val)                                       #this will append the elements to the list 
smallest=lit[0]                                         #assuming that the first(0th) index in the list contains the smallest value assign it to 'smallest' variable                                   
for j in range(1,n):
  if(smallest>lit[j]):
    smallest=lit[j]                                     #from each true statement the smallest value is changed
print("smallest element in the list is:",smallest)

the number of elements in the list=4
1
9
-1
0
smallest element in the list is: -1

In [ ]:
#8.REVERSE A LIST
list1=[10,20,30,4,50]                    
old=list1[0::]         #or list1                #printing from first index(0)to rightside   
list1=list1[::-1]                      #printing from last index(-1) to leftside
print("reversed list=",list1,"original list=",old)

reversed list= [50, 4, 30, 20, 10] original list= [10, 20, 30, 4, 50]